.back_turquoise2 {
  background: #00E5EE;
}
.back_aquamarine1 {
  background: #7FFFD4;
}
.back_aquamarine4 {
  background: #458B74;
}
.back_darkSeaGreen2 {
  background: #B4EEB4;
}
.back_seaGreen2 {
  background: #4EEE94;
}
.back_paleGreen2 {
  background: #90EE90;
}
.back_mediumSlateBlue {
  background: #7B68EE;
}
.back_springGreen2 {
  background: #00EE76;
}
.back_mediumBlue {
  background: #0000CD;
}
.back_green2 {
  background: #00EE00;
}
.back_slateBlue1 {
  background: #836FFF;
}
.back_indianRed1 {
  background: #FF6A6A;
}
.back_darkGoldenrod4 {
  background: #8B658B;
}
.back_aquamarine1 {
  background: #7FFFD4;
}
.back_dodgerBlue1 {
  background: #1E90FF;
}
.back_sienna1 {
  background: #FF8247;
}
.back_goldenrod {
  background: #DAA520;
}
.back_springGreen1 {
  background: #00FF7F;
}
.back_chartreuse {
  background: #7FFF00;
}
.back_firebrick {
  background: #B22222;
}
.back_rosyBrown1 {
  background: #FFC1C1;
}
.back_yellow1 {
  background: #FFFF00;
}
.back_oliveDrab1 {
  background: #C0FF3E;
}
.back_tomato1 {
  background: #FF6347;
}
.back_indianRed {
  background: #CD5C5C;
}
.back_gold1 {
  background: #FFD700;
}
.back_darkTurquoise {
  background: #00CED1;
}
.back_firebrick1 {
  background: #FF3030;
}
.back_saddleBrown {
  background: #8B4513;
}
.back_limeGreen {
  background: #32CD32;
}
.back_cyan1 {
  background: #00FFFF;
}
.back_deepPink1 {
  background: #FF1493;
}
.back_sienna {
  background: #A0522D;
}
.back_goldenrod1 {
  background: #FFC125;
}
.back_khaki1 {
  background: #FFF68F;
}
.back_custom1 {
  background: #eeb043;
}
.back_custom2 {
  background: #58c0c1;
}
.back_custom3 {
  background: #e03c3a;
}
.back_custom4 {
  background: #673aca;
}
.back_custom5 {
  background: #eb913a;
}
.back_custom6 {
  background: #3d93f7;
}
.back_custom7 {
  background: #d74494;
}
.back_custom8 {
  background: #305ae2;
}
.back_custom9 {
  background: #0f289a;
}
.back_custom10 {
  background: #286e6f;
}
.back_custom11 {
  background: #3b7624;
}
.back_custom12 {
  background: #90246a;
}
